


<div class="fb-login-button" data-show-faces="false" data-width="200" data-max-rows="1"></div>

	<div data-role="content">
		<table>
			<tr><td>
				<div data-role="controlgroup" data-type="horizontal">
				    <a href="#" data-role="button">Walking</a>
				    <a href="#" data-role="button">Quick Taxi</a>
				    <a href="#" data-role="button">Subway</a>
				</div>
			</td><tr>

			<tr><td>
				<div data-role="controlgroup" data-type="horizontal">
				    <a href="#" data-role="button">Morning</a>
				    <a href="#" data-role="button">Noon</a>
				    <a href="#" data-role="button">Evening</a>
				    <a href="#" data-role="button">Night</a>
				</div>
			</td><tr>

		</table>

	</div>

	<div data-role="footer">
	  <%= link_to 'Test', '#' , "data-icon" => "star" %>
	</div>

</div>
