

<script type="text/javascript">
function test(){

FB.api('/me', function(response) {
  alert(response.name +'\n' + response.gender +'\n' + response.age_range);
});

}

</script>
 <div class="fb-login-button" autologoutlink="true" data-show-faces="false" data-width="200" data-max-rows="1">Facebook Login</div> 

<button onclick="test()">Show my Facebook details</button>

	<div data-role="content">
		<table>
			<tr><td>
				<div data-role="controlgroup" data-type="horizontal">
				    <a href="#" data-role="button">Walking</a>
				    <a href="#" data-role="button">Quick Taxi</a>
				    <a href="#" data-role="button">Subway</a>
				</div>
			</td><tr>

			<tr><td>
				<div data-role="controlgroup" data-type="horizontal">
				    <a href="#" data-role="button">Morning</a>
				    <a href="#" data-role="button">Noon</a>
				    <a href="#" data-role="button">Evening</a>
				    <a href="#" data-role="button">Night</a>
				</div>
			</td><tr>

		</table>

	</div>

	<div data-role="footer">
	  <%= link_to 'Test', '#' , "data-icon" => "star" %>
	</div>

<!-- </div> -->
